# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
shap-env/
venv/
.env/
.venv/

# Streamlit's cache & logs
.streamlit/
*.log

# Jupyter
.ipynb_checkpoints

# OS or IDE metadata
.DS_Store
.vscode/
*.swp

# Env files or credentials
.env